@model NorusProject.Models.Contratos

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Contratos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.NumeroContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroContrato)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoContrato)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.QtdNegociada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtdNegociada)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.VlrNegociado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VlrNegociado)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.MesAnoInicioContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MesAnoInicioContrato)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.DuracaoMesesContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuracaoMesesContrato)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Clientes.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Editar</a>
    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">Excluir</a>
    <a asp-action="Visualizar">Voltar</a>
</div>